* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(218, 218, 184);
  font-family: sans-serif;
}

.container h1 {
  font-family: "Courier New", Courier, monospace;
  color: black;
}
/* Create the html and css */
/* Create the animation for the whole text */
.letter {
  display: inline-block;
}
.singleAnimationStart {
  --letter: 0s;
  animation-name: easeOutBack;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.73, 0.91, 1.42);
  animation-delay: calc(var(--letter) * 0.02s);
}

@keyframes easeOutBack {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
